{% extends "layout.html" %}

{% block main %}


<form action="/change_password" method="post">
    <div class="mb-3">
        <label for="current_password">Current Password:</label>
        <input type="password" name="current_password" id="current_password" required>
    </div>
    <div class="mb-3">
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" id="new_password" required>
    </div>
    <div class="mb-3">
        <label for="confirmation">Confirm New Password:</label>
        <input type="password" name="confirmation" id="confirmation" required>
    </div>
     <div class="mb-3">
        <button type="submit">Change Password</button>
    </div>
    </form>


    {% endblock %}
