
<!DOCTYPE html>



<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" lang="" style="">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Fleet Foxes | Home</title>
        <meta name="title" content="Fleet Foxes | Home ">
        <meta name="description" content="New Album 'Shore' feat. &amp;#34;Can I Believe You&amp;#34; and &amp;#34;Sunblind&amp;#34; out now on ANTI-">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.fleetfoxes.co/home/">
        <meta property="og:title" content="Fleet Foxes | Home ">
        <meta property="og:description" content="New Album 'Shore' feat. &amp;#34;Can I Believe You&amp;#34; and &amp;#34;Sunblind&amp;#34; out now on ANTI-">
        <meta property="og:image" content="https://fleetfoxes.s3-us-west-2.amazonaws.com/shore/shore-meta.jpeg">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.fleetfoxes.co/home/">
        <meta property="twitter:title" content="Fleet Foxes | Home">
        <meta property="twitter:description" content="New Album 'Shore' feat. &amp;#34;Can I Believe You&amp;#34; and &amp;#34;Sunblind&amp;#34; out now on ANTI-">
        <meta property="twitter:image" content="https://fleetfoxes.s3-us-west-2.amazonaws.com/shore/shore-meta.jpeg">
        <script type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/3bb1f723/www-widgetapi.vflset/www-widgetapi.js" async="">

        </script>
        <script async="" src="https://www.google-analytics.com/analytics.js">
        </script>
        <script src="https://www.youtube.com/player_api">
        </script>
        <script async="" src="https://connect.facebook.net/en_US/fbevents.js">

        </script>
        <script type="application/ld+json">
          {"@context":"http://www.schema.org","@type":"WebSite","name":"Fleet Foxes | Home ","alternateName":"Fleet Foxes","url":"https://www.fleetfoxes.co/home/","logo":"https://www.fleetfoxes.co/https://fleetfoxes.s3-us-west-2.amazonaws.com/shore/shore-meta.jpeg","image":"https://www.fleetfoxes.co/https://fleetfoxes.s3-us-west-2.amazonaws.com/shore/shore-meta.jpeg"}
        </script>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="author" content="Damon Kiley">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="homepage/stylesFLEET.css">
        <link rel="stylesheet" href="homepage/stylesFLEET.css">
        <link rel="stylesheet" href="homepage/stylesFLEET.css">
        <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js">
        </script>
        <meta name="google-site-verification" content="UM6q_0oWxaN113b3wkJHndIBq0yjxxekyIuD8qKYl_o">
        <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init','1035605806887830');fbq('track','PageView');
        </script>
        <noscript>
          "<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1035605806887830&ev=PageView&noscript=1" />"
          </noscript>
          <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-176982394-1"></script>

          <script>
          window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}
          gtag('js',new Date());gtag('config','UA-176982394-1');
          </script>
          <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init','1546810295504470');fbq('track','PageView');</script>
           <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1546810295504470&ev=PageView&noscript=1" />
            </noscript>
            <link rel="stylesheet" href="chrome-extension://ihcjicgdanjaechkgeegckofjjedodee/app/content-style.css"><style type="text/css">
            <style type="text/css">
              @font-face {
              font-weight: 400;
              font-style:  normal;
              font-family: circular;

              src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Book.woff2') format('woff2');
            }

              @font-face {
                font-weight: 700;
                font-style:  normal;
                font-family: circular;

     src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Bold.woff2') format('woff2');
   }
            </style>
    </head>

    <body class="looped-shore">

      <div class="video-background-holder">
        <div class="video-wrapper" data-sr="wait 1s and enter bottom">
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="video_bg" poster="/img/shore/looped-shore.jpg" class="hidden-xs">
   <source src="/img/shore/looped-shore.mp4" type="video/mp4">
   <source src="/img/shore/looped-shore.webm" type="video/webm">
  </video>
</div>
<div class="video-background-content">
  <div id="wrapper">
    <div class="container  fade-in">
      <div class="row">
        <div class="col-md-12 ff-header">
          <h1><a href="/">FLEET FOXES</a></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <nav class="ff-sidebar">
            <ul class="nav ff-sidenav">
              <li> <a href="/" id="news">Home</a></li>
              <li> <a href="/shore" id="shore">Shore</a></li>
              <li> <a href="/music" id="music">Music</a></li>
              <li> <a href="/tour" id="tour">Tour</a></li>
              <li> <a href="/video" id="video">Video</a></li>
              <li> <a href="/contact" id="contact">Contact</a></li>
              <li> <a href="https://fleetfoxes.ffm.to/wadinginwaisthighwater" id="book" target="_blank">Book</a></li>
              <li> <a href="https://fleetfoxes.ffm.to/shop" id="contact" target="_blank">Store</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery||document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/plugins.js?v=5"></script>
<script src="/js/main.js?v=2"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-92165249-1','auto');ga('send','pageview');
    </script>
    <script type="text/javascript">
    var google_conversion_id=1011005779;var google_conversion_label="uqVfCInSj28Q0_KK4gM";var google_custom_params=window.google_tag_params;var google_remarketing_only=true;</script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      "<div style="display:inline;"> <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1011005779/?value=1.00&currency_code=USD&label=uqVfCInSj28Q0_KK4gM&guid=ON&script=0"/></div>
   </noscript>
   <div id="loom-companion-mv3" ext-id="liecbddmkiiihnedobmlmillhodjkdmb">
    <section id="shadow-host-companion"></section>
  </div>
</body>
</html>
