{% extends "layout.html" %}

{% block main %}

<div class="video-background-holder">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="video_bg">
      <source src="/static/capa_site.mp4" type="video/mp4">
  </video>
</div>
</div>



<div class="menu-overlay-contato">
<nav class="ff-sidebar">
  <ul class="nav ff-sidenav">
      <li> <a href="{{ url_for('index') }}" id="home">Home</a></li>
  </ul>
</nav> 
</div>



<!-- Player do SoundCloud -->

<div class="soundcloud-music">
  <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1989676807&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
  </iframe>
    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
      <a href="https://soundcloud.com/victorinomusica" title="Victorino" target="_blank" style="color: #cccccc; text-decoration: none;">Victorino</a>
      <a href="https://soundcloud.com/victorinomusica/rever-ocaso-o-rio-da-minha-aldeia" title="Rever Ocaso _ o rio da minha aldeia" target="_blank" style="color: #cccccc; text-decoration: none;">Rever Ocaso _ o rio da minha aldeia</a>
    </div>
    </div>


   
  

                  
         <!--  <iframe id="sc-player"
          width="100%" height="166" scrolling="no" frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/123456789&color=%23ff5500&auto_play=false">
        </iframe>

        <button onclick="play()">Tocar</button>
        <button onclick="pause()">Pausar</button>

        <script src="https://w.soundcloud.com/player/api.js"></script>
        <script>
          // Cria o widget para controlar o player
          const iframe = document.getElementById('sc-player');
          const widget = SC.Widget(iframe);

          // Funções para controlar o player
          function play() {
            widget.play();
          }

          function pause() {
            widget.pause();
          }
        </script>  -->





        <p></p>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>




{% endblock %}
